[data-ras-table-cell-wrapper] {
	@apply h-px;

	[data-ras-table-cell] {
		@apply h-full w-full content-center;

		&[data-show-on-hover="true"] {
			@apply opacity-0 transition-opacity duration-200 group-focus-within:opacity-100 group-hover:opacity-100;
		}

		&[data-clickable="true"] {
			@apply cursor-pointer rounded-none outline-transparent duration-100;

			&:focus-visible {
				background-color: white !important;
				@apply rounded-md outline-2 -outline-offset-2 outline-primary-500;

				.dark & {
					background-color: theme("colors.neutral.900") !important;
				}
			}

			&:hover {
				background-color: white !important;
				@apply rounded-md bg-white outline outline-2 -outline-offset-2 outline-primary-500;

				.dark & {
					background-color: theme("colors.neutral.900") !important;
				}
			}
		}

		.table-cell {
			@apply flex items-center gap-2 gap-y-2 p-2;

			.action-item {
				@apply flex cursor-pointer items-center gap-2 rounded-md px-4 py-2 text-sm text-black dark:text-neutral-200;

				&:not(.disabled) {
					&:hover {
						@apply bg-gray-100 dark:bg-neutral-700;
					}

					&:focus-visible {
						@apply bg-gray-100 outline-primary-500 dark:bg-neutral-700;
					}
				}

				.picto {
					@apply h-5 w-5;
				}

				.label {
					@apply text-gray-700 dark:text-neutral-300;
				}

				&.disabled {
					@apply cursor-default text-gray-400 dark:text-neutral-600;

					.label {
						@apply text-gray-400 dark:text-neutral-600;
					}
				}
			}

			.al__table-cell__picto {
				@apply h-4 w-4;
			}

			.cell-body {
				@apply flex flex-col overflow-hidden leading-5;

				.cell-value {
					@apply block overflow-hidden text-ellipsis whitespace-nowrap;
				}

				.cell-description {
					@apply block overflow-hidden text-ellipsis whitespace-nowrap text-xs text-gray-500 dark:text-neutral-400;
				}
			}
		}
	}
}
