import React from "react";
import { Formik, Form } from "formik";
import {
    {FORM_NAME}FormInitialValues,
    {FORM_NAME}FormValidation,
    I{FORM_NAME}FormValues
} from "./{FORM_NAME}FormValidation"
import { t } from "i18next";

interface I{FORM_NAME}FormProps {
    onSubmit: (values: I{FORM_NAME}FormValues, formikHelpers: any) => Promise<any>;
}

export const {FORM_NAME}Form: React.FC<I{FORM_NAME}FormProps> = ({
    onSubmit
}) => {

    return (
        <Formik
            initialValues={{FORM_NAME}FormInitialValues}
            onSubmit={onSubmit}
            validationSchema={{FORM_NAME}FormValidation(t)}
        >
        	{({ isValid, dirty, isSubmitting, errors }) => {
				return (
					<Form>
                        <div>{FORM_NAME}</div>
                    </Form>
                );
            }}
        </Formik>
    );
};