.al__tab {
	@apply flex cursor-pointer items-center gap-2 whitespace-nowrap font-medium transition-all duration-200;
	background: transparent;
	border: none;
	border-bottom: 2px solid transparent;

	@apply text-neutral-600 dark:text-neutral-200;

	&--s {
		@apply px-3 py-1.5 text-s;
	}

	&--m {
		@apply px-3 py-2.5 text-m;
	}

	&--l {
		@apply px-4 py-3 text-l;
	}

	&:hover:not(:disabled) {
		@apply text-primary-500;
	}

	&--active {
		@apply border-primary-400 text-primary-500 dark:text-primary-300;
	}

	&--disabled {
		@apply cursor-not-allowed opacity-50;
	}

	&--picto {
		@apply size-4;
	}
}
