.al__toolbar {
	@apply fixed flex items-center gap-4;
	@apply bg-white dark:bg-neutral-900;
	@apply shadow-sm drop-shadow-sm;
	padding: 0.5rem 1rem;
	left: 50%;
	transform: translateX(-50%);

	&--bottom {
		bottom: 0;
		border-top-left-radius: 0.375rem;
		border-top-right-radius: 0.375rem;
	}

	&--top {
		top: 0;
		border-bottom-left-radius: 0.375rem;
		border-bottom-right-radius: 0.375rem;
	}

	&__btn {
		@apply flex cursor-pointer items-center justify-center;
		@apply text-neutral-700 hover:text-neutral-900;
		@apply dark:text-neutral-300 dark:hover:text-white;
		background: transparent;
		border: none;
		padding: 0.25rem;
		position: relative;
		transition: color 0.2s;

		&::after {
			content: "";
			display: block;
			border-bottom: 2px solid transparent;
			width: 100%;
			position: absolute;
			bottom: -4px;
			transition: border-color 0.2s;
		}

		&--active {
			@apply text-neutral-900 dark:text-white;

			&::after {
				@apply border-neutral-400 dark:border-white;
			}
		}

		&--disabled {
			@apply pointer-events-none opacity-40;
		}
	}

	& .transparent {
		background: transparent;
		box-shadow: none;
	}

	&__btn-icon {
		@apply size-5;
	}

	&__btn-label {
		@apply text-sm font-medium;
	}
}
