import React from "react";

import { StoryFn } from "@storybook/react/*";

import { I{COMPONENT_NAME}Props, {COMPONENT_NAME} } from "./{COMPONENT_NAME}";

export default {
	title: "Components/Atoms/{COMPONENT_NAME}",
	component: {COMPONENT_NAME},
};

const Template: StoryFn<I{COMPONENT_NAME}Props> = (args) => (
	<div>
		<{COMPONENT_NAME} {...args}/>
	</div>
);

export const Base = Template.bind({});

Base.args = {
};
