import API from "./API";


class {SERVICE_NAME}ServiceClass {
	
    exemple = () => {
		return API.get(`/user/me`).then((resp) => resp.data);
	}
}

const {SERVICE_NAME}Service = new {SERVICE_NAME}ServiceClass();
export default {SERVICE_NAME}Service;
