input[type="radio"],
input[type="checkbox"] {
	&[data-checkbox]:not([data-unstyled]) {
		& {
			@apply relative left-0 h-4 w-4 min-w-[1rem] cursor-pointer appearance-none overflow-hidden rounded border-none p-0;
		}

		/* Aspect de la case */
		&::before,
		&::after {
			content: "";
			@apply absolute left-0 top-0 h-4 w-4 rounded-sm border-none pt-1 text-center align-middle text-xs text-white outline outline-2 transition-all;
		}

		/* Aspect de la coche */
		&::after {
			content: "✔";
			@apply -left-1 -top-1 h-6 w-6 rounded-full bg-primary-500;
		}

		/* Aspect de la coche en position indefinie */
		&[data-indeterminate="true"] {
			@apply bg-white outline outline-2 outline-primary-500;
		}
		&[data-indeterminate="true"]:before {
			@apply h-5 w-5;
		}

		&[data-indeterminate="true"]::after {
			@apply left-1 top-1 h-2 w-2 outline-none;
		}

		/* Aspect non cochée */
		&:not(:checked) {
			@apply outline outline-2 outline-neutral-200;
		}

		&:not(:checked)::after {
			@apply scale-0 opacity-0;
		}

		/* Aspect cochée */
		&:checked::after {
			@apply scale-100 opacity-100;
		}

		/* Disabled checkbox */
		&:disabled::before,
		&:disabled::before {
			@apply bg-neutral-100 shadow-none outline-neutral-300;
		}

		/* Disabled checked */
		&:disabled:checked::after {
			@apply text-neutral-200;
		}

		&:disabled {
			@apply cursor-not-allowed text-neutral-300 opacity-60;
		}

		/* Accessibility focus */
		// &:checked:focus::before,
		// &:not(:checked):focus::before {
		// }
	}
}

.dark {
	input[type="radio"],
	input[type="checkbox"] {
		&[data-checkbox]:not([data-unstyled]) {
			/* Aspect non cochée */
			&:not(:checked) {
				@apply outline outline-2 outline-neutral-300;
			}

			/* Disabled checkbox */
			&:disabled::before,
			&:disabled::before {
				@apply bg-neutral-600 shadow-none outline-red-800;
			}

			&[data-indeterminate="true"] {
				@apply bg-transparent outline outline-2 outline-primary-500;

				&::after {
					@apply bg-primary-200 text-transparent;
				}
			}
		}
	}
}

input[type="radio"] {
	border-radius: 100% !important;
}
