.al__time-picker {
	@apply w-full min-w-fit;

	.al__time-picker__inner {
		@apply relative flex w-full items-center justify-between gap-2 rounded-[3rem] border-2 border-neutral-300 p-4 py-2 pb-[6px];
	}

	.al__time-picker__label {
		@apply pointer-events-none absolute left-5 top-[2px] z-10 max-w-[calc(100%-2rem)] -translate-y-0 rounded-lg text-xs text-neutral-400 opacity-100 duration-300;

		&.al__time-picker__label--disabled {
			@apply text-neutral-300;
		}
	}

	.al__time-picker__fields {
		@apply mt-[10px] flex items-center;
	}

	.al__time-picker__separator {
		@apply mb-1;
	}

	.al__time-picker__icon {
		@apply h-6 w-6 text-neutral-400 hover:text-neutral-500;
	}

	.al__time-picker__required {
		@apply ml-5 mt-1 text-left text-xs text-neutral-500;
	}
}

.al__time-picker__input {
	@apply h-auto bg-transparent py-1 text-center;
	width: 2rem !important;
	border-radius: 0 !important;
	border-color: transparent !important;
	padding: 0 !important;
	outline: none !important;
	appearance: textfield;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;

	&:focus {
		@apply text-primary-600;
		border-bottom-color: theme("colors.primary.500") !important;
	}
}
