.al__editable-card {
	container-type: inline-size;
	@apply gap-6 p-4;

	&__edit-btn--hidden {
		@apply invisible;
	}

	&__fields {
		@apply flex flex-col gap-4;

		&--merged {
			@apply grid gap-4;
		}
	}

	&__fields-group {
		@apply grid gap-4;
	}

	&__add-btn-picto {
		color: var(--color-primary-500) !important;
	}

	@container (max-width: 300px) {
		.al__editable-card__edit-btn span {
			display: none;
		}
	}
}
