[data-amphore-svg-wrapper] {
	& > * {
		@apply h-full w-full;
	}

	&:focus-visible {
		outline: none;
	}

	&:focus {
		outline: none;
	}

	& > *:focus,
	& > *:focus-visible {
		outline: none;
		& > *:focus,
		& > *:focus-visible {
			outline: none;
		}
	}

	[fill="none"] {
		fill: none;

		& > * {
			@apply fill-none;
		}
	}

	[data-amphore-svg="current"]:not([fill="none"]) {
		& > *:not([fill="none"]) {
			@apply fill-current;
		}
	}
}
