.al__button {
	background: transparent;
	border: none;

	@apply flex cursor-pointer items-center gap-2 rounded-3xl px-4 py-2 transition-all duration-300;

	transition: all 0.3s linear;

	&:focus {
		outline-color: #faf3ec;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	/* =============================================== */
	/* COLOR VARIANTS */
	/* =============================================== */
	&--black {
		background-color: #27272b;
		color: white;

		&.btn--outline {
			outline-color: #27272b;
			color: #27272b;
		}

		&:not(.btn--loading):hover {
			background-color: #27272b;
			color: white;
		}
	}

	&--white {
		background-color: white;
		color: #27272b;

		&.btn--outline {
			outline-color: #e2e2e2;
			color: #27272b;
		}

		&:not(.btn--loading):hover {
			background-color: #e2e2e2;
			color: #27272b;
		}
	}

	&--primary {
		@apply bg-primary-500;

		&.btn--outline {
			@apply text-primary-500 outline-primary-500;

			&:not(.btn--loading):hover {
				@apply bg-primary-500;
			}
		}

		&:not(.btn--loading):hover {
			color: white !important;
			@apply bg-primary-600;
		}
	}

	/* =============================================== */
	/* SIZES VARIANTS */
	/* =============================================== */
	&--s {
		@apply px-4 py-1 text-sm;
	}

	&--m {
		@apply px-4 py-2 text-base;
	}

	&--l {
		@apply rounded-[5rem] px-6 py-3 text-lg;
	}

	/* =============================================== */
	/* OTHER STATES */
	/* =============================================== */
	&--outline {
		outline: 2px solid;
		@apply bg-transparent;
	}

	&--loading {
		opacity: 0.7;
		cursor: wait !important;
	}
}
