.al__button {
	background: transparent;
	border: none;

	@apply flex cursor-pointer items-center justify-center gap-2 rounded-3xl px-4 py-2 transition-all duration-300;

	transition: all 0.3s linear;

	&:focus {
		outline-color: #faf3ec;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	/* =============================================== */
	/* COLOR VARIANTS */
	/* =============================================== */
	&--black {
		background-color: #27272b;
		color: white;
		@apply dark:bg-neutral-200 dark:text-neutral-900;

		&.al__button--outline {
			outline-color: #27272b;
			color: #27272b;
			@apply dark:text-neutral-200 dark:outline-neutral-200;
		}

		&:not(.al__button--loading):hover {
			background-color: #27272b;
			color: white;
			@apply dark:bg-neutral-300;
		}
	}

	&--white {
		background-color: white;
		color: #27272b;
		@apply dark:bg-neutral-700 dark:text-white;

		&.al__button--outline {
			outline-color: #e2e2e2;
			color: #27272b;
			@apply dark:text-neutral-200 dark:outline-neutral-600;
		}

		&:not(.al__button--loading):hover {
			background-color: #e2e2e2;
			color: #27272b;
			@apply dark:bg-neutral-600 dark:text-white;
		}
	}

	&--primary {
		@apply bg-primary-500 text-white;

		&.al__button--outline {
			@apply text-primary-500 outline-primary-500 dark:text-primary-300 dark:outline-primary-300;

			&:not(.al__button--loading):hover {
				@apply bg-primary-500 dark:bg-primary-600;
			}
		}

		&:not(.al__button--loading):hover {
			color: white !important;
			@apply bg-primary-600;
		}
	}

	&--green {
		@apply bg-green-500 text-white;

		&.al__button--outline {
			@apply text-green-500 outline-green-500 dark:text-green-400 dark:outline-green-400;

			&:not(.al__button--loading):hover {
				@apply bg-green-500;
			}
		}

		&:not(.al__button--loading):hover {
			color: white !important;
			@apply bg-green-600;
		}
	}

	&--red {
		@apply bg-red-500 text-white;

		&.al__button--outline {
			@apply text-red-500 outline-red-500 dark:text-red-400 dark:outline-red-400;

			&:not(.al__button--loading):hover {
				@apply bg-red-500;
			}
		}

		&:not(.al__button--loading):hover {
			color: white !important;
			@apply bg-red-600;
		}
	}

	&--yellow {
		@apply bg-yellow-500 text-white;

		&.al__button--outline {
			@apply text-yellow-500 outline-yellow-500 dark:text-yellow-400 dark:outline-yellow-400;

			&:not(.al__button--loading):hover {
				@apply bg-yellow-500;
			}
		}

		&:not(.al__button--loading):hover {
			color: white !important;
			@apply bg-yellow-600;
		}
	}

	&--transparent {
		@apply bg-transparent text-current;

		&.al__button--outline {
			@apply outline-current;
		}

		&:not(.al__button--loading):hover {
			@apply bg-neutral-100 dark:bg-neutral-700;
		}
	}

	/* =============================================== */
	/* SIZES VARIANTS */
	/* =============================================== */
	&--s {
		@apply px-3 py-1 text-sm;

		.al__button--picto {
			@apply size-5;
		}
	}

	&--m {
		@apply px-4 py-2 text-base;

		.al__button--picto {
			@apply size-7;
		}
	}

	&--l {
		@apply rounded-[5rem] px-6 py-3 text-lg;
		.al__button--picto {
			@apply size-7;
		}
	}

	/* =============================================== */
	/* OTHER STATES */
	/* =============================================== */
	&--outline {
		outline: 2px solid;
		@apply bg-transparent;
	}

	&--loading {
		opacity: 0.7;
		cursor: wait !important;
	}
}
