.al__button {
	background: transparent;
	border: none;

	@apply flex cursor-pointer items-center justify-center gap-2 rounded-3xl px-4 py-2 transition-all duration-300;

	transition: all 0.3s linear;

	&:focus {
		outline-color: #faf3ec;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	/* =============================================== */
	/* COLOR VARIANTS */
	/* =============================================== */
	&--black {
		background-color: #27272b;
		color: white;

		&.al__button--outline {
			outline-color: #27272b;
			color: #27272b;
		}

		&:not(.al__button--loading):hover {
			background-color: #27272b;
			color: white;
		}
	}

	&--white {
		background-color: white;
		color: #27272b;

		&.al__button--outline {
			outline-color: #e2e2e2;
			color: #27272b;
		}

		&:not(.al__button--loading):hover {
			background-color: #e2e2e2;
			color: #27272b;
		}
	}

	&--primary {
		@apply bg-primary-500;

		&.al__button--outline {
			@apply text-primary-500 outline-primary-500;

			&:not(.al__button--loading):hover {
				@apply bg-primary-500;
			}
		}

		&:not(.al__button--loading):hover {
			color: white !important;
			@apply bg-primary-600;
		}

		svg {
			@apply fill-primary-500;
		}
	}

	&--green {
		@apply bg-green-500;

		&.al__button--outline {
			@apply text-green-500 outline-green-500;

			&:not(.al__button--loading):hover {
				@apply bg-green-500;
			}
		}

		&:not(.al__button--loading):hover {
			color: white !important;
			@apply bg-green-600;
		}

		svg {
			@apply fill-green-500;
		}
	}

	&--red {
		@apply bg-red-500;

		&.al__button--outline {
			@apply text-red-500 outline-red-500;

			&:not(.al__button--loading):hover {
				@apply bg-red-500;
			}
		}

		&:not(.al__button--loading):hover {
			color: white !important;
			@apply bg-red-600;
		}

		svg {
			@apply fill-red-500;
		}
	}

	&--yellow {
		@apply bg-yellow-500;

		&.al__button--outline {
			@apply text-yellow-500 outline-yellow-500;

			&:not(.al__button--loading):hover {
				@apply bg-yellow-500;
			}
		}

		&:not(.al__button--loading):hover {
			color: white !important;
			@apply bg-yellow-600;
		}

		svg {
			@apply fill-yellow-500;
		}
	}

	/* =============================================== */
	/* SIZES VARIANTS */
	/* =============================================== */
	&--s {
		@apply px-3 py-1 text-sm;

		.al__button--picto {
			@apply size-5;
		}
	}

	&--m {
		@apply px-4 py-2 text-base;

		.al__button--picto {
			@apply size-7;
		}
	}

	&--l {
		@apply rounded-[5rem] px-6 py-3 text-lg;
		.al__button--picto {
			@apply size-7;
		}
	}

	/* =============================================== */
	/* OTHER STATES */
	/* =============================================== */
	&--outline {
		outline: 2px solid;
		@apply bg-transparent;
	}

	&--loading {
		opacity: 0.7;
		cursor: wait !important;
	}
}
