[data-info-message] {
	@apply flex items-center gap-2 rounded-md p-2 text-xs;

	[data-info-message-picto] {
		@apply h-8 w-8;
	}

	.al__info-message__content {
		@apply overflow-hidden;
	}

	&.type- {
		&success {
			@apply bg-success-100 text-success-600;

			.dark & {
				background-color: theme("colors.success-600");
				color: theme("colors.success-100");
			}
		}

		&error {
			@apply bg-error-100 text-error-600 outline-error-500;

			.dark & {
				background-color: theme("colors.error-600");
				color: theme("colors.error-100");
			}
		}

		&warning {
			@apply bg-warning-100 text-warning-600 outline-warning-500;

			.dark & {
				background-color: theme("colors.warning-600");
				color: theme("colors.warning-100");
			}
		}

		&info {
			@apply bg-primary-100 text-primary-600 outline-primary-500;

			.dark & {
				@apply bg-primary-900 text-primary-100;
			}
		}
	}

	&.outline- {
		&success {
			@apply text-success-500;

			.dark & {
				color: theme("colors.success-500");
				opacity: 0.8;
			}
		}
	}
}
