[data-ras-table-row] {
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: subgrid;
	@apply border-b border-neutral-200 -outline-offset-2 dark:border-neutral-700;

	&.clickable {
		cursor: pointer;
	}

	&.disabled {
		@apply cursor-not-allowed bg-neutral-50 opacity-50 dark:bg-neutral-800;
	}

	&.selected {
		@apply bg-primary-50 dark:bg-primary-950;
	}

	&:not(.disabled):hover {
		@apply bg-neutral-50 dark:bg-neutral-800;
	}

	&:focus-visible {
		@apply outline-primary-500 dark:outline-primary-400;
	}
}
