.al__page-header {
	@apply flex w-full flex-col flex-wrap;

	&__back-button {
		@apply mb-4 p-0 text-l text-black no-underline;

		&__picto {
			@apply -ml-1 h-6 w-6;
			color: var(--color-primary-500) !important;
		}
	}

	&__top {
		@apply flex w-full flex-wrap gap-4;

		&--with-tabs {
			@apply flex-col;

			.al__page-header__actions-row {
				@apply w-full;
			}
		}

		&--no-tabs {
			@apply items-center justify-between;
		}
	}

	&__tabs {
		@apply w-full;
	}

	&__active-filters {
		@apply w-full;
	}

	&__bottom-active-filters {
		@apply mt-2 w-full;
	}

	&__left-content {
		@apply flex flex-col gap-2;

		& > .al__page-header__title-block {
			@apply flex flex-wrap items-center gap-4;
		}
	}

	&__title {
		@apply text-3xl font-bold;
	}

	&__subtitle {
		@apply text-sm text-neutral-500;
	}

	&__actions-row {
		@apply ml-auto flex items-start justify-between empty:hidden;
	}

	&__actions {
		@apply ml-auto flex flex-wrap-reverse items-center justify-end gap-4;

		& > .al__page-header__buttons,
		& > .al__page-header__search {
			flex-shrink: 0;
			flex-grow: 1;
			flex-basis: auto;
			@apply max-w-full flex-wrap-reverse;

			& > * {
				@apply flex-shrink-0 flex-grow basis-auto;
			}
		}

		& > .al__filters-button {
			@apply flex-shrink-0 flex-grow basis-auto;
		}
	}

	&__buttons {
		@apply flex items-stretch gap-2 border-l border-neutral-200 pl-4;
	}

	&__buttons:empty {
		@apply hidden;
	}

	&__buttons:first-child {
		@apply border-0;
	}
}
