.text {
	max-width: 100%;
}

.singleLine {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.multiLine {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
